<ion-header>
  <ion-toolbar>
    <ion-title>
      App notificaciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="borrarMensaje()">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>User ID</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{push.userID}}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>Pushes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let notif of mensajes" >
      <ion-label>
        <h3>
          {{notif.title}}
        </h3>
        <p>{{notif.body}}</p>
        <p>{{notif.additionalData | json}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
