<ion-app>
  <ion-split-pane contentId="principal">
  <!---<app-menu></app-menu>-->
  <ion-menu side="start" menuId="menuApp" contentId="principal">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let item of elementos_menu | async">
          <ion-item  
          [routerLink]="item.ruta" detail>
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            <ion-label >{{item.nombre}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>


  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-split-pane>
</ion-app>
